::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    /* background-color: var(--dark-color); */
    background-color: var(--dark-color);
    /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue-color);
    border-radius: 5px;
}